<a href="https://colab.research.google.com/github/Yunho-seo/education_center4/blob/main/02_python%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬의 변수
- 데이터 타입을 지정하지 않음 : 모두가 주소이다.
- 파이썬의 변수는 주소값을 가지고 있음.
- 데이터를 확인하는 함수가 필요하다 (type)
- 파이썬에서 변수의 대입은 주소 (포인터(C), 레퍼런스(Java))
- 데이터 타입
 - list(수정이 가능), tuple(수정이 불가능 : 함수의 매개변수와 리턴값으로 사용)
 - dict(키:데이터 형식으로 저장), set(키)
 - [] : 리스트, {} : dict / set, () : tuple
 - 파이썬에서 블록은 indent(들여쓰기) 
- 변수(함수) : stack, heap
 - stack : 함수의 복귀주소, 함수가 실행될 때 필요한 데이터
 - heap : 동적 메모리 할당으로 데이터를 저장할 때 사용한다.

In [7]:
a = 10  # 10은 heap에 저장되고, 그 주소를 a가 가리키는 메모리 위치에 저장
b = a   # 주소값이 대입된다.
print(a)
print(b)
print("주소값 대입", id(a)), print(id(b))  # id() : 주소값을 확인하는 함수
a = 20  # 대입
print(a)
print(b)
print("주소값 대입", id(a)), print(id(b))
# c  # NameError: name 'c' is not defined  => 변수는 반드시 초기화되어야 한다.

10
10
주소값 대입 140259722623568
140259722623568
20
10
주소값 대입 140259722623888
140259722623568

(None, None)

In [3]:
a

20

In [5]:
type(a)
print(type(a))  # 데이터 타입도 클래스이다. <class 'int'>, None도 클래스이다. => 모두가 class => 객체지향 프로그래밍 언어

<class 'int'>

In [6]:
# 파이썬은 대소문자를 구분한다.
a = 10
A = 20
print(a)
print(A)

10
20

In [9]:
# 파이썬에서의 casting (형 변환)
problem = input("수식을 입력하세요")  # 데이터 입출력은 문자열 (데이터 타입)
print(problem)  # 문자열
print(eval(problem))  # eval() : 문자형을 int형으로 변환 (int(), int도 클래스이다)

수식을 입력하세요10*90
10*90
900

In [10]:
# casting
print(int("23"))
print(float("23"))
print(eval("23"))
print(eval("23.5"))

23
23.0
23
23.5

In [11]:
x = 5
print(eval("23 + (2 * x)"))

33

In [13]:
# 메모리 : 2진수 => 8진수, 16진수 (메모리의 내용을 사람이 이해하기 좋게 하기 위해 8진수, 16진수를 사용)
a3 = 4.24e-3  # 지수 (exponent)
a4 = 0o177    # octal
a5 = 0x8f     # hexa
print(a3)
print(a4)
print(a5)

0.00424
127
143

# 문자열
- ", "", """ """ : 입력하는 형태대로 문자열을 생성
- 문자열 연산자 : +(결합 연산자), *(반복 연산자)
- 인덱스 -는, 뒤에서부터 (R에서는 '제외하고' 의미)
- 입력 순서를 보장한다.

In [15]:
# C(% : String, integer, float), C#(), f 문자열
print('My name is %s and I am from %s, %i , ' %('AI', '4차산업혁명', 10))
print('My name is {1} and I am from {0} and I like {thing}'.format('딥러닝', 'AI', thing='cats'))
name = '김종호'
age = 20
print(f"이름은 {name} 나이는 {age}")  # f : 문자열

My name is AI and I am from 4차산업혁명, 10 ,
My name is AI and I am from 딥러닝 and I like cats
이름은 김종호 나이는 20

In [20]:
# 문자열은, 기본적으로 1차원 배열이다.
fullName = input("이름을 입력하세요: ")
print(type(fullName))  # 데이터 타입 'str'
n = fullName.rfind(" ")  # reverse find (뒤에서부터 찾기) (인덱스는 0번부터)

print(fullName[0])
print(fullName[1])
print(fullName[2])
print(n)
print("이름:", fullName[n+1:])  # ':' : 끝까지 (slicing) - 부분 문자열
print("성(s):", fullName[:n])   # 처음부터 첫번째까지.

이름을 입력하세요: 김 종호
<class 'str'>
김

종
1
이름: 종호
성(s): 김

In [24]:
s = 'korea'  # str class (파이썬에는 문자열을 str 이라고 함)
print(s+s)   # 문자열 결합 연산자
print(s * 3) # 문자열 반복 연산자
print(s[0:])
print(s[4])
print(s[-1])   # 뒤에서 첫번째
print(s[1:3])  # OR 뒤에 있는 숫자는, 제외한다. (1:3이면, 1, 2번째 숫자 출력)

print(s[-2:])
print(s[-2:5])  # 5는 제외
# print(s[7])   # out of index
print(s[3:-1])  # -1은 'a'인데 출력 안됨
print(len(s))   # 문자열의 길이
s.split('r')    # 분리문자를 기준으로 분리

koreakorea
koreakoreakorea
korea
a
a
or
ea
ea
e
5

['ko', 'ea']

In [31]:
t = 'Seoul, Incheon, won'.split(',')  # '.'를 분리문자로 선언
print(t)
t = ','.join(t) 
print(t.upper())
print(t.lower())

['Seoul', ' Incheon', ' won']
SEOUL, INCHEON, WON
seoul, incheon, won

In [32]:
# 숫자를 문자열로 변환 (str(), repr())
f = 1.23
g = str(f)
h = repr(f)  # 정밀도가 더 높다.
print(g, "   ", h)

1.23     1.23

In [33]:
a = 3
b = 4

print(a+b, a-b, a*b, a/b)
print(a % b)   # 나머지 연산자
print(1 % 2)
print(7 // 4)  # 정수 나눗셈

7 -1 12 0.75
3
1
1

In [34]:
sum([1,2,3,4])  # R에서 vector처럼, list가 들어감

10

In [35]:
min([1,2,3])

1

In [37]:
abs(-11)

11

In [39]:
pow(2, 10)  # 2의 10승 (2 ** 10)

1024

In [43]:
print(round(3.141592, 2))  # 소수점 셋째 자리에서 반올림하고 둘째 자리까지 표현된다.
print(round(3.141592))  # 소수점 첫째 자리에서 반올림, 정수로 표현

3.14
3

In [45]:
# 리스트([]) 자료구조 +(결합 연산자), *(반복 연산자) : 문자열과 같다.
li = [4, 7, 8]   # li 리스트 
lj = [5, 6, 7]   # lj 리스트
print(type(li))  # class 'list'
print(li + lj)   # R에서는 요소끼리 더해주었는데, 파이썬은 연속적으로 표현(결합됨)
print(sum(li))  # li 요소들의 덧셈
li * 3  # li 리스트가 3번 반복되어 새 리스트를 만듬 (반복된 리스트 생성)

<class 'list'>
[4, 7, 8, 5, 6, 7]
19

[4, 7, 8, 4, 7, 8, 4, 7, 8]

In [47]:
num1 = input("정수를 입력하세요: ")
num2 = input("정수를 입력하세요: ")
hab = int(num1) + int(num2)
quotient = hab // 2
remainder = hab % 2
print("입력된 수를 2로 나눈 결과의 몫 =", quotient, "나머지 =", remainder)

if remainder == 0:  # ()가 없어도 된다.
  print("짝수입니다. ")
else:
  print("홀수입니다. ")

정수를 입력하세요: 28
정수를 입력하세요: 10
입력된 수를 2로 나눈 결과의 몫 = 19 나머지 = 0
짝수입니다.

In [48]:
print(hash(object))  # hash() : 지정된 위치 찾기, 파이썬의 부모는 object, 모든 클래스가 상속받음. (모든 클래스의 최상위 부모)
print(object)

609858
<class 'object'>

In [50]:
x = 300  # 전역변수 - 함수 밖에서 선언된 변수이다. (java에서는 불가능)
def myfunc():  # myfunc() 함수 생성
  x = 200      # 내부선언된 변수 -> 지역변수 -> 지역변수가 우선시된다.
  print(x)     # 매개변수로 전달하지 않아도, 그냥 사용이 가능함
myfunc()
print(x)

200
300

In [57]:
# 전역변수를 함수 안에서 사용하려면 함수의 매개변수로 전달하는 것이 좋다.
x = 300 
def myfunc(x):
  # global x
  x += 200   # 전역변수를 함수 내에서 수정할 수 없다. / global x 혹은 def myfunc(x): 로 선언하면 가능.
  print(x)
myfunc(x)
print(x)

500
300

In [55]:
# 문제
# 어떠한 정수를 입력받아 0이면 가위, 1이면 바위, 2면 보를 출력
a = int(input("정수를 입력하세요 (0, 1, 2) "))
if a == 0:
  print("가위 입니다.")
elif a == 1:
  print("바위 입니다.")
else:
  print("보 입니다.")

정수를 입력하세요1
바위 입니다.

In [60]:
# 혼용 문자열
name = input("이름을 입력하세요")
kor = input("국어점수를 입력하세요")
mat = input("수학점수를 입력하세요")
eng = input("영어점수를 입력하세요")

tot = int(kor) + int(mat) + int(eng)
avr = round(tot/3, 2)
print("이름".center(10), "국어".center(10), "수학".center(10), "영어".center(10),
      "합계".center(10), "평균".center(10), sep="   ")  # seperator 분리자 
print(name.center(10), kor.rjust(10), mat.rjust(10), eng.rjust(10),
      str(tot).rjust(12), str(avr).rjust(12), sep="   ", end=" ")  # end=" "는 연속해서 출력하라는 의미1

이름을 입력하세요김
국어점수를 입력하세요100
수학점수를 입력하세요00
영어점수를 입력하세요110
    이름           국어           수학           영어           합계           평균
    김               100           00          110            210           70.0

In [61]:
# 리스트 : 문자열(배열) 인덱스와 같다.
t = [5, 7, 6, 2]
t = list([5, 6, 7, 2])  # 캐스팅(casting)

print(t)
print(len(t), max(t), min(t), sum(t))  # 리스트를 매개변수로 받는다.
print(t[0], t[-1], t[:2], t[1:3])

t = [5, 7, 6, 2]
print(t)

[5, 6, 7, 2]
4 7 2 20
5 2 [5, 6] [6, 7]
[5, 7, 6, 2]

In [62]:
a = 20
b = 10
print(a > b)  # true
c = a > 10 and b < 50
print(c)  # true
c = 10 < a < 50  # 파이썬의 독특한 표현
print(c)  # true

True
True
True

In [63]:
# 두 수를 교환 (swaping)
a = 10
b = 20
# temp = 10
# a = b
# b = temp

a, b = b, a  # 멀티 리턴이 가능하기에 스왑핑이 가능하다.
print(a, b)

20 10

In [66]:
# 중첩 리스트(2차원)
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3])  # 리스트 전체를 하나의 요소로 본다.
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
['a', 'b']

In [71]:
# 3차원
a = [1, 2, ['a', 'b', ['Life', 'is']]]  # 3차원 리스트
print(a[0])
print(a[2])
print(a[2][2])
print(a[2][2][0])

1
['a', 'b', ['Life', 'is']]
['Life', 'is']
Life

In [73]:
a = [1, 2, 3]
a[2] = 4  # 요소 바꾸기
print(a)

a[1:2] = ['a', 'b', 'c']  # [1]을 ['a', 'b', 'c']로 변경 / 틀어져서 입력이 된다.(범위값 준다면 []가 풀려서 요소로 들어간다)
print(a)
a[2] = ['하나', '둘', '셋']  # 인덱스 하나를 지정하여 변경한다면 리스트 그대로 입력이 된다.
print(a)

[1, 2, 4]
[1, 'a', 'b', 'c', 4]
[1, 'a', ['하나', '둘', '셋'], 'c', 4]

In [75]:
# 초기값, 한계값, 증감값 => 독립적인 데이터 타입을 유지 => 출력이 안됨.
b = range(1, 6, 1)  # for in 문 (for(int i=0; i<10; i++) : 인덱스)
print(b)
print([b])      # 출력이 안됨
print(list(b))  # 리스트로 바꿔 주어야 (캐스팅) 출력이 된다.

range(1, 6)
[range(1, 6)]
[1, 2, 3, 4, 5]

In [76]:
# 문자열에서 검색
streaming = ['netflix', 'hulu', 'disney+', 'appletv+']
index = streaming.index('disney+')  # 데이터의 위치를 검색
print(index)
streaming[2]  # streaming[index]

2

'disney+'

In [77]:
# 요소 삭제
if 'disney+' in streaming:
  streaming.remove('disney+')  # 데이터를 입력하여 삭제 / 'disney+'를 삭제
print(streaming)

if streaming:
  del(streaming[0])  # 인덱스를 이용하여 삭제 / 0번째 인덱스의 요소 삭제 ('netflix')
print(streaming)

['netflix', 'hulu', 'appletv+']
['hulu', 'appletv+']

In [79]:
# 데이터 수정
streaming[0] = 'netflix';
print(streaming)

['netflix', 'appletv+']

In [80]:
# 데이터 추가
streaming.append("다람쥐")
streaming.pop(0)  # 앞뒤에서만 추가가 가능 / pop()은 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제한다. / 0번째 요소 삭제
print(streaming)

['appletv+', '다람쥐']

In [82]:
# 함수의 멀티 리턴 (R에서는 function, 파이썬에서는 def) : 다른 언어에서는 1개만 리턴하거나 배열을 만들어서 리턴
# 파이썬에서는 함수의 매개변수 개수가 반드시 일치하여야 한다.
def calc(a, b):     # 일반화 프로그래밍
  return a+b, a*b   # tuples로 리턴 
x, y = calc(3, 4)
print(x, y)
print(x)
x, y
args = (4, 5)  # () : 튜플 (수정이 불가능)
calc(*args)    # 변동 매개변수

7 12
7

(9, 20)

In [86]:
# enumerate() : 리스트의 원소에 순서값을 부여해주는 함수
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print(enumerate(seasons))  # 자체 타입
print(list(enumerate(seasons)))  # 순서를 지정
print(list(enumerate(seasons, start=1)))  # start : 번호의 시작점을 달리할 수 있음.

<enumerate object at 0x7f9077990b40>
[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

In [90]:
# 리스트 정렬 (list sort) - 포인터
monarchs = [("대한", 1), ("민국", 3), ("만세", 6), ("야호", 1)]
monarchs.sort()  # 앞의 문자를 기준으로 정렬
# reverse = False : 디폴트 매개변수 => 디폴트 매개변수는 생략이 가능하다.
# monarchs.sort(key = lambda row : row[0], reverse=False)
print(monarchs)

[('대한', 1), ('만세', 6), ('민국', 3), ('야호', 1)]

In [92]:
# 키 값으로 정렬 
# lambda 함수 : 무명함수 (함수 이름이 없음, 간단함)
monarchs.sort(key = lambda row : row[1], reverse=True)  # row[1] : 첫번째 요소(key)를 기준으로 정렬 / reverse=True : 내림차순 (False가 default)
print(monarchs)

[('만세', 6), ('민국', 3), ('대한', 1), ('야호', 1)]

In [94]:
# 문제
# 이름, 국어 점수를 입력받아 school 리스트에 입력하고 점수로 정렬하여 출력하기.
school = []
name = input("이름을 입력하세요 ")
kor = eval(input("국어 점수를 입력하세요 "))
school.append([name, kor])

name = input("이름을 입력하세요 ")
kor = eval(input("국어 점수를 입력하세요 "))
school.append([name, kor])

name = input("이름을 입력하세요 ")
kor = eval(input("국어 점수를 입력하세요 "))
school.append([name, kor])

school.sort(key=lambda row:row[1], reverse=True)  # 점수를 기준으로 출력 / 내림차순 정렬
print(school)

이름을 입력하세요 서윤호1
국어 점수를 입력하세요 90
이름을 입력하세요 서윤호2
국어 점수를 입력하세요 80
이름을 입력하세요 서윤호3
국어 점수를 입력하세요 100
[['서윤호3', 100], ['서윤호1', 90], ['서윤호2', 80]]

In [95]:
school = []

for i in range(3):  # 반복 횟수를 지정 [0, 1, 2]
  name = input("이름을 입력하세요 ")
  kor = eval(input("국어점수를 입력하세요 "))
  pair = []  # 매 횟수마다 초기화가 되어야 하기에, for문 안에서 초기화를 한다.
  pair.append(name)    # 1차 리스트
  pair.append(kor)
  school.append(pair)  # 2차 리스트 / 리스트에 입력되는 것은 주소값 / 똑같은 주소가 3번 반복된다.
school.sort(key=lambda row:row[1], reverse=True)
print(school)

이름을 입력하세요 서윤호
국어점수를 입력하세요 100
이름을 입력하세요 서윤호1
국어점수를 입력하세요 100
이름을 입력하세요 서윤호2
국어점수를 입력하세요 100
[['서윤호', 100], ['서윤호1', 100], ['서윤호2', 100]]

In [97]:
# 튜플 : 삽입, 삭제, 수정이 불가능하다. (검색은 가능)
tupl = ('K', 'o', 'r', 'e', 'a')
tupl = tuple('Korea')  # 캐스팅 가능
tupl

('K', 'o', 'r', 'e', 'a')

In [98]:
tupl[0]
tupl[-1]
tupl[-2:]
len(tupl)

5

In [99]:
cities = ('seoul', 'incheon', 'suwon')

In [100]:
cities.index('suwon')  # 'suwon'은 몇 번 인덱스인가?

2

In [101]:
'incheon' in cities  # 'Incheon'이 cities에 있는지?

True

In [102]:
cities.count('seoul')  # 'seoul'의 개수 세기

1

In [103]:
sorted(cities)
sorted(cities, reverse=True)  # 내림차순 정렬

['suwon', 'seoul', 'incheon']

In [138]:
sungjuk = [['하하', 100, 100, 100], ['유재석', 99, 99, 98], ['추신수', 90, 98, 91]]
sungjuk.sort()
print(sungjuk)
# 문제
# 세번째에 있는 점수를 중심으로 정렬
sungjuk.sort(key=lambda row:row[3])  # 람다 함수

def getKey(row):  # 
  return row[3]
sungjuk.sort(key=getKey)

[['유재석', 99, 99, 98], ['추신수', 90, 98, 91], ['하하', 100, 100, 100]]

In [139]:
# 문제
# 각 리스트의 점수 합계를 내고 리스트에 추가하여 합계를 기준으로 정렬

total = sungjuk[0][1] + sungjuk[0][2] + sungjuk[0][3]   # 하하의 총점
sungjuk[0].append(total)

total = sungjuk[1][1] + sungjuk[1][2] + sungjuk[1][3]  # 유재석의 총점
sungjuk[1].append(total)

total = sungjuk[2][1] + sungjuk[2][2] + sungjuk[2][3]  # 추신수의 총점
sungjuk[2].append(total)

sungjuk.sort(key=lambda row:row[4], reverse=True)
print(sungjuk)

[['하하', 100, 100, 100, 300], ['유재석', 99, 99, 98, 296], ['추신수', 90, 98, 91, 279]]

In [135]:
for sung in sungjuk:
  total = sung[1] + sung[2] + sung[3]
  sung.append(total)
sungjuk.sort(key=lambda row:row[4], reverse=True)
sungjuk

[['하하', 100, 100, 100, 300, 300],
 ['유재석', 99, 99, 98, 296, 296],
 ['추신수', 90, 98, 91, 279, 279]]

In [132]:
for sung in sungjuk:
  total = 0
  for i in range(1, 4):
    total += sung[i]
  sung.append(total)

In [141]:
# 등수 입력하기 (6번째 데이터로 등수 입력하기)
print(sungjuk)
i = 0
for sung in sungjuk:
  i+=1
  sung.append(i)
print(sungjuk)

[['하하', 100, 100, 100, 300], ['유재석', 99, 99, 98, 296], ['추신수', 90, 98, 91, 279]]
[['하하', 100, 100, 100, 300, 1], ['유재석', 99, 99, 98, 296, 2], ['추신수', 90, 98, 91, 279, 3]]

In [142]:
# list를 이용하여 Stack(스택) 만들기
# LIFO (Last In, First Out) : 밑이 막힘
myStack = []  # list => if myStack : false
# 데이터 운용을 append, pop으로만 사용한다.
myStack.append('a')
myStack.append('b')
myStack.append('c')

print(myStack)
print(myStack.pop())
print(myStack.pop())
print(myStack.pop())

['a', 'b', 'c']
c
b
a

In [143]:
# 리스트를 이용한 Queue (First In, First Out 대기열)
printer = []
if not printer:  # 비어 있으면(데이터 없으면) 실행
  print("리스트가 비어 있습니다.")
printer.append(60)
printer.append(50)
if not printer:
  printer.pop()
printer.append(40)
print(printer.pop(0))  # 선두에서 데이터 삭제
printer

리스트가 비어 있습니다.
60

[50, 40]

In [144]:
# 관계 연산자
a = 13
b = 33
print(a > b)   # F
print(a < b)   # T
print(a == b)  # F
print(a != b)  # T
print(a >= b)  # F
print(a <= b)  # T

False
True
False
True
False
True

In [145]:
 # 논리 연산자
 a = True
 b = False
 print(a and b)  # F
 print(a or b)   # T
 print(not a)    # F

False
True
False

In [148]:
# 비트 연산자
a = 10
b = 4
print(bin(a))  # 00001010
print(bin(b))  # 00000100
print(a & b)   # AND, False, 0
print(a | b)   # OR, 00001110 (14)
print(~a)      # NOT, 11110101 (-11)
print(a ^ b)   # XOR, 00001110 (두개가 다르면 참)
print(a >> 2)  # 오른쪽 shift, 00000010 (2) => shift 한번의 의미는, 2로 나눔
print(a << 2)  # 왼  쪽 shift, 00101000 (40)

# 67을 2진수로 표현 : 01000011
# 108을 2진수로 표현 : 01101100

0b1010
0b100
0
14
-11
14
2
40

In [149]:
import statistics as s
print("mean([1, 2, 3, 4, 4]) :", s.mean([1, 2, 3, 4, 4]))  # 평균
print("median([1, 3, 5, 7]) :", s.median([1, 3, 5, 7]))    # 중위수
data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
print("variance(data) : ", s.variance(data))  # 분산
print("stdev(data) : ", s.stdev(data))  # 표준편차

mean([1, 2, 3, 4, 4]) : 2.8
median([1, 3, 5, 7]) : 4.0
variance(data) :  1.3720238095238095
stdev(data) :  1.171334200612195

In [150]:
# random 함수
# 의사난수 (이미 정해져 있는 데이터(난수)가 출력 => seed값 (시작지점을 달리하여 진짜 random인 것 처럼 설정)

import random
random.seed(1000)
print(random.randint(1, 5))
elements = ["earth", "air", "fire", "water"]
elements[0] = "earths"
# choice와 sample의 차이?
# choice = 복원 (항상 4개를 선택)
# sample = 비복원 (R에서는, 7:3으로 데이터 분할 시 사용)
print(random.choice(elements))
print(random.sample(elements, 2))  # 랜덤하게 요소 중 2개 추출
random.shuffle(elements)  # 랜덤하게 요소 섞기
print(elements)

4
earths
['water', 'air']
['fire', 'water', 'air', 'earths']

In [154]:
for i in range(100):
  print(random.randint(1,5))

4
2
2
2
3
4
2
3
2
4
2
1
4
2
4
4
2
1
5
4
2
5
2
1
3
2
3
1
1
3
1
3
3
5
5
1
2
3
4
3
2
2
3
5
4
1
3
4
4
3
4
5
3
4
3
1
1
2
4
1
2
3
1
3
2
2
2
5
3
3
3
3
4
2
4
1
2
2
3
3
4
3
1
5
5
2
1
4
4
5
4
4
4
5
1
3
1
1
2
2

In [151]:
random.random()

0.5346837414708775

In [153]:
# time
import time;
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)  # 초당 1000번씩
print(time.localtime());

Number of ticks since 12:00am, January 1, 1970: 1681193773.1767218
time.struct_time(tm_year=2023, tm_mon=4, tm_mday=11, tm_hour=6, tm_min=16, tm_sec=13, tm_wday=1, tm_yday=101, tm_isdst=0)

In [155]:
time.localtime(ticks)

time.struct_time(tm_year=2023, tm_mon=4, tm_mday=11, tm_hour=6, tm_min=16, tm_sec=13, tm_wday=1, tm_yday=101, tm_isdst=0)

In [158]:
import calendar
cal = calendar.month(2023, 4)
print(type(cal))  # class 'str'
print(cal)

<class 'str'>
     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [162]:
# 태어난 년도를 입력하면 나이를 계산하고 미성년자 여부를 판단하시오 (미성년자 기준은 20)
year = int(input("태어난 년도를 입력하세요: "))
age = time.localtime().tm_year - year + 1
if age > 20:
  print(age, "세", "당신은 성년 입니다")
else:
  print(age, "세", "당신은 미성년자")

태어난 년도를 입력하세요: 2001
23 세 당신은 성년 입니다

In [163]:
import datetime
dt = datetime.datetime.now()
print(dt.year)
print(dt.month)
print(dt.day)
dt

2023
4
11

datetime.datetime(2023, 4, 11, 6, 25, 17, 414314)

In [174]:
# 문제
# 생년월일을 20010203 형식으로 입력받아 출생년도 월 일 변수에 대입하고 현재 날짜를 기준으로 나이를 계산하고 18살 미만이면 미성년자로 출력
import datetime

dt = datetime.datetime.now()
print(dt)
age = input("생년월일을 입력하세요 >> ")
year = int(age[:4])
month = int(age[4:6])
day = int(age[6:])

year_diff = dt.year - year
month_diff = dt.month - month
day_diff = dt.day - day

if day_diff < 0:
  month_diff -= 1
if month_diff < 0:
  year_diff -= 1
print("당신의 나이는 >> ", year_diff+1)

if year_diff < 18:
  print("당신은 미성년자입니다.")
else:
  print("당신은 성년 입니다.")

# import datetime

# birth = input("생년월일을 입력하세요 >> ")
# year = int(birth[:4])
# month = int(birth[4:6])
# day = int(birth[6:])

# today = datetime.date.today()

# age = today.year - year - ((today.month, today.day) < (month, day))
# if age < 18:
#   print(age, "세", "미성년자")
# else:
#   print(age, "세", "성년")

2023-04-11 06:47:37.485370
생년월일을 입력하세요 >> 19760523
당신의 나이는 >>  47
당신은 성년 입니다.