<a href="https://colab.research.google.com/github/Yunho-seo/education_center4/blob/main/03_control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if문
## false인 것들
- '', "", 0, [], {}, (), None 등
- if문을 사용하는 방법
 - 단일 if문
 - if else
 - if elif else
 - 중첩(nested) if문
- for in
 - in 뒤에 올 수 있는 것들
 - Collections(list, dict, set, tuple, bytes, str)
 - iterator
 - range
 - generator
 - enumerate (단일 입력 -> 2개 출력)
 - zip (2개 입력 -> 2개 출력)

In [1]:
score = 70
if score >= 80:
  print("80 이상")
else:
  print("80 이하")

80 이하

In [4]:
city = ''  # false
if not city:
  print("빈 문자열")

빈 문자열

In [5]:
# 삼항 연산자
x = 5
ans = '양수' if x >= 0 else '음수'  # x의 값이 0 이상이면 '양수', 그렇지 않으면 '음수'를 출력
print(ans)

양수

In [16]:
# 문제
# 수입(income)과 지출(costs)을 입력받아 순수입을 출력하는 프로그램 작성
# 경우의 수 : 3가지 (순수입(profit), 손익분기점(break_even_point), 순손실(loss))

income = int(input("수입을 입력하세요 "))
costs = int(input("지출을 입력하세요 "))

if costs == income:
  result = "손익분기점"
elif costs < income:
  profit = income - costs
  result = "순수익 = {0:,.2f}".format(round(profit, 2))  # 자리수 표현
else:
  loss = costs - income
  result = "순손실 = {0:,.2f}".format(round(loss, 2))
print(result)

수입을 입력하세요 30
지출을 입력하세요 50
순손실 = 20.00

In [17]:
# 문제
# 위 코드를 내포된 if문으로 수정 (중첩 if문)
revenue = eval(input("수익을 입력하세요 "))
costs = eval(input("지출을 입력하세요 "))

if costs == revenue:
  result = "손익분기점"
else:
  if costs < revenue:
    profit = revenue - costs
    result = "순수익 = {0:,.2f}".format(round(profit, 2))
  else:
    loss = costs - revenue
    result = "순손실 = {0:,.2f}".format(round(loss, 2))
print(result)

지출을 입력하세요 30
수익을 입력하세요 50
순수익 = 20.00

In [23]:
# - 반응에 따른 날씨 예측 프로그램
# -           BLUE            RED
# - STEADY    화창       비오는날
# - FLASHING  구름       눈오는날

# 문제
# 반응에 따른 날씨 예측 표를 참고하여 color와 mode를 입력받아 처리하는 프로그램을 if문을 이용하여 처리

color = input("컬러 입력하세요(blue/red) ")
mode = input("모드 입력하세요(steady/flashing) ")

result = ""
if color == 'blue' and mode == 'steady':
  result = '화창한 날'
elif color == 'blue' and mode == 'flashing':
  result = '구름낀 날'
elif color == 'red' and mode == 'steady':
  result = '비오는 날'
else:
  result = '눈오는 날'
print("예측된 날씨는", result)

컬러 입력하세요(blue/red) red
모드 입력하세요(steady/flashing) steady
예측된 날씨는 비오는 날

In [29]:
# 문제2
# 위 문제를 중첩 if문을 이용하여 처리
color = input("컬러 입력하세요(blue/red) ")
mode = input("모드 입력하세요(steady/flashing) ")

if color == 'blue':
  if mode == 'steady':
    print("화창합니다.")
  else:
    print("구름끼었다.")
else:
  if mode == 'steady':
    print("비오는날")
  else:
    print("눈오는날")

컬러 입력하세요(blue/red) blue
모드 입력하세요(steady/flashing) flashing
구름끼었다.

In [28]:
# 문제
# 점수를 입력받아서 A, B, C, D, F 학점으로 출력

jumsu = int(input("점수를 입력하세요 "))

if jumsu >= 90:
  result = 'A'
elif jumsu >= 80:
  result = 'B'
elif jumsu >= 70:
  result = 'C'
elif jumsu >= 60:
  result = 'D'
else:
  result = 'F'
print(result, "학점 입니다.")

점수를 입력하세요 91
A 학점 입니다.

In [32]:
# 문제
# 과일을 100.50원에 세금 12.5%를 붙여 팔았다. 매출액은?
# 세금과 매출액이 얼마인지 출력
# 소수점 2째자리까지 표현

tax = 12.5 / 100
price = 100.50
tax_per_one = price * tax
sales_price = price * (1 + tax)
print("세금 = ", round(tax_per_one, 2), "1개 판매 가격 = ", round(sales_price, 2))

세금 =  12.56 1개 판매 가격 =  113.06

In [34]:
# 위의 결과에 개수를 입력받아, 1개를 팔았을 때의 세금, 판매개수에 대한 총세금액, 판매개수에 대한 총매출액을 출력

amount = eval(input("판매한 과일 개수를 입력하세요 "))
total_tax = tax_per_one * amount
total_amount = sales_price * amount
print(amount, "개를 팔았을때", "1개의 세금 = ", round(tax_per_one, 2), "총세금액 = ", round(total_tax, 2),
      "총매출액 = ", round(total_amount, 2))

판매한 과일 개수를 입력하세요 5
5 개를 팔았을때 1개의 세금 =  12.56 총세금액 =  62.81 총매출액 =  565.31

In [39]:
# 문제
# 아파트 : 제곱미터로 표현 (평수 = 제곱미터 / 3.305)
# 제곱미터로 입력되는 아파트 면적을 평수로 계산하여 종류 판정
# 소형(17 이하), 중형(17 ~ 30), 대형(30 이상)

m2 = int(input("제곱미터를 입력하세요 "))
ps = m2 / 3.305
print(round(ps, 2), "평 입니다.")
if ps <= 17:
  print("소형 아파트")
elif 17 < ps <= 30:
  print("중형 아파트")
else:
  print("대형 아파트")

제곱미터를 입력하세요 91
27.53 평 입니다.
중형 아파트

In [45]:
# 문제
# 놀이공원 매표소 단체 입장료 계산하기
# 조건 : 팀별 인원 구성을 입력 (초등, 청소년, 성인, 경로) 하면 입장료 소견표에 따라 계산 
# 정산요금 : 초등(5000원), 청소년(10000원), 성인(15000원), 경로(3000원)
# 팀별 할인 카드 확인
#    카드없음 : 할인X,  일반카드 : 10%할인, VIP : 20%할인
# 위의 데이터를 참조하여 총 요금을 계산하기

young = int(input("초등학생 인원을 입력하세요 "))
middle = int(input("청소년 인원을 입력하세요 "))
adult = int(input("성인 인원을 입력하세요 "))
senior = int(input("경로 인원을 입력하세요 "))

card = int(input("카드 유무 // 카드없음(0), 일반카드(1), VIP(2)를 입력하세요"))

young_money = young * 5000
middle_money = middle * 10000
adult_money = adult * 15000
senior_money = senior * 3000
tot = young_money + middle_money + adult_money + senior_money

result = ''
if card == 0:
  result = tot
elif card == 1:
  result = tot * 0.9
elif card == 2:
  result = tot * 0.8

print("총 요금은 ", result, " 원 입니다.")

초등학생 인원을 입력하세요 5
청소년 인원을 입력하세요 5
성인 인원을 입력하세요 5
경로 인원을 입력하세요 5
카드 유무 // 카드없음(0), 일반카드(1), VIP(2)를 입력하세요0
총 요금은  165000  원 입니다.

In [47]:
young_rate = 5000
middle_rate = 10000
adult_rate = 15000
senior_rate = 3000
discount_general = 0.9
discount_vip = 0.8

young = int(input("초등학생 인원을 입력하세요 "))
middle = int(input("청소년 인원을 입력하세요 "))
adult = int(input("성인 인원을 입력하세요 "))
senior = int(input("경로 인원을 입력하세요 "))

card = int(input("카드 유무 // 카드없음(0), 일반카드(1), VIP(2)를 입력하세요"))

young_money = young * young_rate
middle_money = middle * middle_rate
adult_money = adult * adult_rate
senior_money = senior * senior_rate
tot = young_money + middle_money + adult_money + senior_money

select = [tot, tot*discount_general, tot*discount_vip]  # 메모리 사용량이 늘어나지만 계산 속도는 빨라짐.

print("총 요금은 ", select, " 원 입니다.")

초등학생 인원을 입력하세요 3
청소년 인원을 입력하세요 3
성인 인원을 입력하세요 3
경로 인원을 입력하세요 3
카드 유무 // 카드없음(0), 일반카드(1), VIP(2)를 입력하세요1
총 요금은  [99000, 89100.0, 79200.0]  원 입니다.

In [55]:
# 문제
# 소득세율 계산 : 소득을 입력받아 세금이 얼마인지 계산하는 프로그램 작성 (연봉만 입력받고 단순히 세율만 적용)  # 과세표준 - 공제액
# 12,000,000원 이하	6%
# 12,000,000원 초과 46,000,000원 이하	 15%
# 46,000,000원 초과 88,000,000원 이하	 24%
# 88,000,000원 초과 150,000,000원 이하 35%

income = int(input("소득을 계산하세요(최대 1억 5천만원) "))

tax1 = 6 / 100
tax2 = 15 / 100
tax3 = 24 / 100
tax4 = 35 / 100

result = ''
if income <= 12000000:
  tax = income * tax1
elif 12000000 < income <= 46000000:
  tax = income * tax2
elif 46000000 < income <= 88000000:
  tax = income * tax3
elif 88000000 < income <= 150000000:
  tax = income * tax4
print("당신의 소득은 ", income, "원이고, 세금은 ", tax, "원 입니다.")

소득을 계산하세요(최대 1억 5천만원) 38000000
당신의 소득은  38000000 원이고, 세금은  5700000.0 원 입니다.

In [57]:
print('세금 계산 프로그램입니다. (연봉 1.5억 이하하만 입력받고 단순히 세율만 적용합니다.)')
income = int(input('총 소득을 입력하시오 : '))
tax = 0

income_interval = [12000000, 46000000, 88000000, 150000000]
income_level = [0, 12000000, 46000000, 88000000]
basic_tax = [0, 12000000*0.06, 12000000*0.06 + 34000000*0.15, 12000000*0.06 + 34000000*0.15 + 42000000*0.24]
tax_rate = [0.06, 0.15, 0.24, 0.35, 0.38, 0.40, 0.42, 0.45]

if income < income_interval[0]:
  tax = basic_tax[0] + (income-income_level[0]) * tax_rate[0]
elif income < income_interval[1]:
  tax = basic_tax[1] + (income-income_level[1]) * tax_rate[1]
elif income < income_interval[2]:
  tax = basic_tax[2] + (income-income_level[2]) * tax_rate[2]
elif income < income_interval[3]:
  tax = basic_tax[3] + (income-income_level[3]) * tax_rate[3]

print('연봉', income, '에 대한 총 세금은', tax,'만원 입니다.')

세금 계산 프로그램입니다. (연봉 1.5억 이하하만 입력받고 단순히 세율만 적용합니다.)
총 소득을 입력하시오 : 37000000
연봉 37000000 에 대한 총 세금은 6269820.0 만원 입니다.

In [60]:
income = int(input('총 소득을 입력하시오 : '))
tax = 0.0
income_interval = [12000000, 46000000, 88000000, 150000000, 300000000, 500000000, 1000000000]
tax_rate = [0.06, 0.15, 0.24, 0.35, 0.38, 0.40, 0.42, 0.45]
subtract_money = [0, 1080000, 5220000, 14900000, 19400000, 25400000, 35400000]
if income < income_interval[0]:
  tax = income * tax_rate[0] - subtract_money[0]
elif income < income_interval[1]:
  tax = income * tax_rate[1] - subtract_money[1]
elif income < income_interval[2]:
  tax = income * tax_rate[2] - subtract_money[2]
elif income < income_interval[3]:
  tax = income * tax_rate[3] - subtract_money[3]
elif income < income_interval[4]:
  tax = income * tax_rate[4] - subtract_money[4]
elif income < income_interval[5]:
  tax = income * tax_rate[5] - subtract_money[5]
else:
  tax = income * tax_rate[6] - subtract_money

print("입력하신 연봉 ", income, "에 대한 세금 = ", tax)

총 소득을 입력하시오 : 200000000
입력하신 연봉  200000000 에 대한 세금 =  56600000.0

In [63]:
elements = ['earth', 'air', 'fire', 'water']
for i in elements:
  print(i, end=" ")

earth air fire water

# squencial(순차적)한 자료구조
- list, tuple, str
- indexing, slicing, +(결합), *(반복), in, len

In [68]:
# 문제
# 위 코드를 range를 이용하여 옆으로 출력
elements = ['earth', 'air', 'fire', 'water']
for i in range(len(elements)):
  print(elements[i], end=" ")

earth air fire water

In [69]:
# 문제
# 다음 데이터에서 500보다 같거나 큰 경우는 제외하고 나머지 값을 출력
cart = [10, 20, 500, 700, 50, 60]
for item in cart:
  if item >= 500:
    continue
  print(item, end=' ')

10 20 50 60

In [71]:
# range() : 시작값, 종료값, 증감값=1 (default)
print(list(range(10)))        # 10이 종료값
print(list(range(10, 2)))     # 미출력 / 시작값, 종료값
print(list(range(1, 10)))
print(list(range(1, 10, 2)))  # 1부터 10까지 2씩 (홀수)
print(list(range(10, 1, -1))) # 미출력
print(list(range(1, 11, -1))) 
print(list(reversed(range(10)))) # 역순 출력

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [72]:
# Iterator : 반복자 - 현재 위치의 데이터를 지시.
ra = range(10)
ra = iter(ra)
next(ra)

0

In [73]:
next(ra)
next(ra)

2

In [75]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))

[0, 1, 2, 2, 3, 6, 7]

In [76]:
# zip
seq1 = ['a', 'b', 'c']
seq2 = ['d', 'e']
zipped = zip(seq1, seq2)  # 두 요소씩 짝을 지어 리스트로 묶는다.
list(zipped)

[('a', 'd'), ('b', 'e')]

In [77]:
seq1 = ['foo', 'bar', 'bax']
seq2 = ['one', 'two', 'three']
seq3 = [False, True]
print(list(zip(seq1, seq2, seq3)))

[('foo', 'one', False), ('bar', 'two', True)]

In [78]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
  print('%d, %s, %s' %(i, a, b))
list(reversed(range(10)))

0, foo, one
1, bar, two
2, bax, three

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [84]:
# 문제
# 1부터 10까지 더하기 (range)
sum = 0
for i in range(1, 11):
  sum += i
print(sum)

55

In [87]:
my_list = ['bobby', 'hadz', 'com']

while my_list:
  my_list.pop(0)  # append pop(0) => FIFO(First In, First Out) : 큐(Queue)  (LIFO : 스택(Stack))
print(my_list)

[]

In [91]:
# 중첩 for문 / 이중 for문
for x in range(2, 10):
  print()  # 한 칸 비우고 출력
  for y in range(2, 10):
    print(x, '*', y, '=', x*y, end='    ')

2 * 2 = 4    2 * 3 = 6    2 * 4 = 8    2 * 5 = 10    2 * 6 = 12    2 * 7 = 14    2 * 8 = 16    2 * 9 = 18
3 * 2 = 6    3 * 3 = 9    3 * 4 = 12    3 * 5 = 15    3 * 6 = 18    3 * 7 = 21    3 * 8 = 24    3 * 9 = 27
4 * 2 = 8    4 * 3 = 12    4 * 4 = 16    4 * 5 = 20    4 * 6 = 24    4 * 7 = 28    4 * 8 = 32    4 * 9 = 36
5 * 2 = 10    5 * 3 = 15    5 * 4 = 20    5 * 5 = 25    5 * 6 = 30    5 * 7 = 35    5 * 8 = 40    5 * 9 = 45
6 * 2 = 12    6 * 3 = 18    6 * 4 = 24    6 * 5 = 30    6 * 6 = 36    6 * 7 = 42    6 * 8 = 48    6 * 9 = 54
7 * 2 = 14    7 * 3 = 21    7 * 4 = 28    7 * 5 = 35    7 * 6 = 42    7 * 7 = 49    7 * 8 = 56    7 * 9 = 63
8 * 2 = 16    8 * 3 = 24    8 * 4 = 32    8 * 5 = 40    8 * 6 = 48    8 * 7 = 56    8 * 8 = 64    8 * 9 = 72
9 * 2 = 18    9 * 3 = 27    9 * 4 = 36    9 * 5 = 45    9 * 6 = 54    9 * 7 = 63    9 * 8 = 72    9 * 9 = 81

In [100]:
for x in range(1, 10):
  for y in range(2, 10):
    print(y, '*', x, '=', x*y, '\t', end='   ')
  print()

2 * 1 = 2 	   3 * 1 = 3 	   4 * 1 = 4 	   5 * 1 = 5 	   6 * 1 = 6 	   7 * 1 = 7 	   8 * 1 = 8 	   9 * 1 = 9
2 * 2 = 4 	   3 * 2 = 6 	   4 * 2 = 8 	   5 * 2 = 10 	   6 * 2 = 12 	   7 * 2 = 14 	   8 * 2 = 16 	   9 * 2 = 18
2 * 3 = 6 	   3 * 3 = 9 	   4 * 3 = 12 	   5 * 3 = 15 	   6 * 3 = 18 	   7 * 3 = 21 	   8 * 3 = 24 	   9 * 3 = 27
2 * 4 = 8 	   3 * 4 = 12 	   4 * 4 = 16 	   5 * 4 = 20 	   6 * 4 = 24 	   7 * 4 = 28 	   8 * 4 = 32 	   9 * 4 = 36
2 * 5 = 10 	   3 * 5 = 15 	   4 * 5 = 20 	   5 * 5 = 25 	   6 * 5 = 30 	   7 * 5 = 35 	   8 * 5 = 40 	   9 * 5 = 45
2 * 6 = 12 	   3 * 6 = 18 	   4 * 6 = 24 	   5 * 6 = 30 	   6 * 6 = 36 	   7 * 6 = 42 	   8 * 6 = 48 	   9 * 6 = 54
2 * 7 = 14 	   3 * 7 = 21 	   4 * 7 = 28 	   5 * 7 = 35 	   6 * 7 = 42 	   7 * 7 = 49 	   8 * 7 = 56 	   9 * 7 = 63
2 * 8 = 16 	   3 * 8 = 24 	   4 * 8 = 32 	   5 * 8 = 40 	   6 * 8 = 48 	   7 * 8 = 56 	   8 * 8 = 64 	   9 * 8 = 72
2 * 9 = 18 	   3 * 9 = 27 	   4 * 9 = 36 	   5 * 9 = 45 	   6 * 9 = 54 	   7 * 9 = 63 	   8 * 9 = 72 	   9 * 9 = 81

In [107]:
# 문제
# 두 수를 입력하여 숫자이면 합계를 내어 출력하고, 
# 숫자가 아니면 처음 수가 숫자가 아닌것이 있는지 아니면 뒤에 입력한 것이 숫자가 아닌 것이 있는지 확인하여 출력
# is함수 : isdigit() => True(숫자) / False(숫자X) (str문자열에 있는 함수이다.)
# 숫자 / 숫자 아닌 것 : 숫자 / 숫자 아닌 것 => 경우의 수 (4가지)

x = input("첫째 수를 입력하세요 ")
y = input("둘째 수를 입력하세요 ")

if x.isdigit() and y.isdigit():
  print("합계는", str(eval(x) + eval(y)) + ".")
elif not x.isdigit():
  if not y.isdigit():
    print("둘 다 숫자가 아님")
  else:
    print("첫째수가 숫자가 아님")
elif not y.digit():
  print("둘째수가 숫자가 아님")

첫째 수를 입력하세요 45
둘째 수를 입력하세요 3
합계는 48.

In [112]:
# 문제
# while문을 이용하여 1부터 10까지 더한 결과를 출력
i = 0    # 증가변수
sum = 0  # 누적변수
while i < 10:
  i += 1    # 1, 2, 3, 4, 5, 6, 7, 8, 9
  sum += i
print(sum)

55

In [115]:
# 문제
# 위 while문에서  3, 4, 5, 6, 7, 8, 9만 더하기
i = 0
sum = 0
while i < 10:
  i += 1
  if i < 3:
    continue
  if i > 9:
    break
  else:
    sum += i
print(sum)

42

In [122]:
# 문제
# 입력 형식 10k or 10M, 10G와 같은 형식으로 입력하고
# 어떤 경우이던지 바이트로 변환하여 출력
# 10k = 1024 * 10 바이트 
# 10M = 1024 * 1024 * 10 바이트
# 10G = 1024 * 1024 * 1024 * 10 바이트
# 입력을 무한대로 하고, Q가 입력되면 중지하게 하시오.

UNIT = 1024
criterion = ["K", "M", "G"]
while 1:
  vol = input("용량을 입력하세요 ")
  if vol.upper() == "Q":
    break
  num = vol[:-1]
  scale = vol[-1]
  calcunit = scale.upper()  # 대문자로 변환
  if not num.isdigit() or not calcunit in criterion:
    print("잘못된 입력입니다. 숫자로 입력하고 단위는 k, m, g로 입력하세요 ")
    continue
  volume = int(num)
  if calcunit == "K":
    volume_res = volume * UNIT
  elif calcunit == "M":
    volume_res = volume * UNIT * UNIT
  elif calcunit == "G":
    volume_res = volume * UNIT * UNIT * UNIT
  else:
    print("계산 가능한 용량 단위가 아니므로 다시 입력하세요")
  print("입력한 용량 " + vol + "은 " + str(volume_res) + " 바이트 입니다.")

용량을 입력하세요 10m
입력한 용량 10m은 10485760 바이트 입니다.
용량을 입력하세요 10k
입력한 용량 10k은 10240 바이트 입니다.
용량을 입력하세요 q

In [129]:
# 숫자 맞추기 게임
# 컴퓨터가 랜덤으로 숫자 하나를 결정 (1~100 사이의 수)
# 유저가 입력하여 맞추는 게임
# 입력된 숫자와, 컴퓨터가 선정한 수를 비교하여 입력된 수가 큰 수인지, 작은 수인지 확인
# 무한루프로 작동하고, Q를 입력하면 중지하도록 한다. (맞춰도 중지)
# 경우의 수 : 맞춘 경우, 숫자가 큰 경우, 작은 경우
import random
com = random.randint(1, 100)

while 1:
  user = input("숫자를 입력하세요 ")
  if user.upper() == 'Q': 
    break
  user = int(user)
  if user == com:
    print("맞췄습니다!")
    break
  elif user > com:
    print("작은 수를 입력하세요.")
  elif user < com:
    print("큰 수를 입력하세요.")

숫자를 입력하세요 15
작은 수를 입력하세요.
숫자를 입력하세요 7
큰 수를 입력하세요.
숫자를 입력하세요 q

In [135]:
# 문제
# 위 프로그램이 무한 반복하도록 하고, 6번 이상 도전 시 패배한 것으로 처리
# 게임 종료 시 전적 (승, 패) 출력
import random
import sys
tot_game = 0
win = 0
while True:
  com = random.randint(1, 100)
  tot_game += 1
  game = 0
  while (1):
    user = input("숫자를 입력하세요 ")
    game += 1
    if user.upper() == 'Q':
      print("게임수: ", tot_game-1, " 이긴게임수: ", win, " 진 게임수: ", tot_game - win - 1)
      sys.exit(0)  # 종료
    user = int(user)
    if user > com:
      print("작은 수를 입력하세요.")
    elif user < com:
      print("큰 수를 입력하세요.")
    else:
      win += 1
      print("맞췄습니다!")
      break
    if game >= 6:
      print("당신이 졌습니다. 정답은 %d입니다." % com)
      break

숫자를 입력하세요 50
작은 수를 입력하세요.
숫자를 입력하세요 25
큰 수를 입력하세요.
숫자를 입력하세요 37
큰 수를 입력하세요.
숫자를 입력하세요 45
작은 수를 입력하세요.
숫자를 입력하세요 41
작은 수를 입력하세요.
숫자를 입력하세요 39
맞췄습니다!
숫자를 입력하세요 q
게임수:  1  이긴게임수:  1  진 게임수:  0

SystemExit: ignored

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [138]:
# 문제
# 서비스 차원에서 매 게임마다 평균 몇 변 시도했는지를 출력하는 회로를 추가

import random
import sys
tot_game = 0
win = 0
tot_attempt = []

while True:
  number = random.randint(1, 100)
  game = 0
  tot_game += 1
  while (1):
    user = input("숫자를 입력하세요 ")
    game += 1  # 시도횟수
    if user.upper() == 'Q':
      print("게임수: ", tot_game-1, " 이긴게임수: ", win, " 진 게임수: ", tot_game - win - 1)
      game_tot = sum(tot_attempt) / tot_game-1  # 오류뜸 
      print("평균시도횟수: ", game_tot)
      sys.exit(0)  # 종료
      break 
    user = int(user)
    if user > number:
      print("작은 수를 입력하세요")
    elif user < number:
      print("큰 수를 입력하세요")
    else:
      win += 1
      tot_attempt.append(game)
      print('정답입니다')
      break
    if game >= 6:
      print("패배")
      tot_attempt.append(game)
      break

숫자를 입력하세요 50
작은 수를 입력하세요
숫자를 입력하세요 25
큰 수를 입력하세요
숫자를 입력하세요 37
큰 수를 입력하세요
숫자를 입력하세요 43
정답입니다
숫자를 입력하세요 50
큰 수를 입력하세요
숫자를 입력하세요 75
큰 수를 입력하세요
숫자를 입력하세요 89
큰 수를 입력하세요
숫자를 입력하세요 93
작은 수를 입력하세요
숫자를 입력하세요 90
정답입니다
숫자를 입력하세요 q
게임수:  2  이긴게임수:  2  진 게임수:  0

TypeError: ignored

In [139]:
[i for i in range(10)]  # 패턴 / 규칙이 있는 수를 발생 : 내장 리스트

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
[i**2 for i in range(10)]  # 제곱수로도 가능

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [143]:
{i : i**3 for i in range(10)}  # 세제곱

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [145]:
{i**2 for i in range(10) if i%2 == 0}  # 짝수의 제곱 (내장 리스트에 조건문을 달 수도 있다.)

{0, 4, 16, 36, 64}

In [146]:
rows = range(1, 5)    # 4
cols = range(10, 15)  # 5가지
vectors = [(r, c) for r in rows for c in cols]  # 튜플로 만들어서 리스트로 삽입됨.
vectors

[(1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14)]

In [147]:
# 문제
# rows에 있는 수와 cols에 있는 수 중에 홀수만 선택하여 조합
vectors = [(r, c) for r in rows if r%2 for c in cols if c%2]
vectors

[(1, 11), (1, 13), (3, 11), (3, 13)]

In [150]:
# 문제
# 1부터 20 사이의 수 중에, 3의 배수, 5의 배수인 경우 숫자 다음에
# '3의 배수', '5의 배수'와 같이 출력

# 관계 연산자는 true, false를 리턴 (수식에서는 True=1, False=0)
# or은, 앞이 True일 때 뒤는 계산하지 않음
["3의 배수" * (i % 3 == 0) + "5의 배수" * (i % 5 == 0) or i for i in range(1, 21)]

[1,
 2,
 '3의 배수',
 4,
 '5의 배수',
 '3의 배수',
 7,
 8,
 '3의 배수',
 '5의 배수',
 11,
 '3의 배수',
 13,
 14,
 '3의 배수5의 배수',
 16,
 17,
 '3의 배수',
 19,
 '5의 배수']

In [155]:
numberOfRows = int(input("숫자를 입력하세요: "))
for i in range(numberOfRows):
  for j in range(i+1):
    print("*", end="")
  print()

숫자를 입력하세요: 10
*
**
***
****
*****
******
*******
********
*********
**********

In [154]:
numberOfRows = int(input("숫자를 입력하세요: "))
for i in range(numberOfRows):
  for k in range(numberOfRows - i):  # i가 증가할 수록 공백이 줄어듬
    print(" ", end="")
  for j in range(i+1):
    print("*", end="")
  print()

숫자를 입력하세요: 10
          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [160]:
# 위의 코드를 단순화
for i in range(1, 11):
  print(' '*(10 - i), "*"*i)

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [170]:
for n in range(1, 11):
    print(' '*(10-n) + '*'*(2*n-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [172]:
for i in range(10):
  for j in range(i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [176]:
for i in range(1, 21):
  if i <= 10:
    print("*" * i)
  else:
    print("*" * (20 - i))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [184]:
for i in range(1, 11):
  print("*" * i + " " * (10-i) + " " * (10-i) + "*" * i)

*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

In [191]:
for i in range(1, 21):
  if i <= 10:
    print("*" * i + " " * (10-i) + " " * (10-i) + "*" * i)
  else:
    print("*" * (20-i) + " " * (i-10) + " " * (i-10) + "*" * (20-i))

*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *

In [193]:
for i in range(1, 11):
  print("*" * (11-i) + " " * (i-1) + " " * (i-1) + "*" * (11-i))

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *