<a href="https://colab.research.google.com/github/Yunho-seo/education_center4/blob/main/07_mariadb_pymysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!uname -a
# 학습 -> 학습 결과를 구글 드라이브에 저장 -> 다시 로딩하여 학습 (딥러닝 : 행렬 가중치를 학습)

Linux a2200c6852e1 5.10.147+ #1 SMP Sat Dec 10 16:00:40 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

In [3]:
# shell 명령 앞에는 ! 붙여야 함 
!pip install pymysql  # mysql에 접속하기 위한 패키지를 설치

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.9/dist-packages (1.0.3)

In [9]:
import pymysql
con = pymysql.connect(host='34.64.86.80', port = 3306, user = 'root', passwd = 'acorn1234',
                      db = 'sungjuk', charset = 'utf8', autocommit=True)

# DDL : 데이터 정의 (Data difinition) = 데이터베이스나 테이블을 create(생성), drop(삭제), alter(수정)

# DML : 데이터 관리 (Data management) = select, insert into, update set, delete from
  # insert into, update set, delete from은 트랜잭션의 대상, 트리거의 대상, 커밋(Commit)의 대상 (autocommit = T 설정 시, 커밋하지 않아도 된다)
  # 이들은 데이터베이스에 영향을 미치는 명령어들이기 때문이다. 
  # 반드시 commit을 해주어야 한다. (커밋은 con 객체에)

# DCL : 데이터 제어 (Data control language) = grant 등

# TCL : 트랜잭션 제어 (Transaction control language)

In [5]:
# 예외 처리
# connection 객체 (연결 객체)
# cursor 객체 (Query문을 실행하는 객체)
# cur = con.cursor()
try:
   with con.cursor() as cur:  # with문 내에서 객체 생성 시, with 문 종료와 더불어 객체도 닫힌다.
     cur.execute('select * from student')  # 쿼리문 실행 시 resultset으로 도착하게 된다. (resultset의 형식이 DB와 같음) (명령어를 이용하여 데이터를 가져 와야 함 -> fetchall())
     rows = cur.fetchall()   # fetchone(), fetchmany() 등 데이터를 가져오는 명령어
     # 파이썬에서 다량의 데이터를 사용하는 방법 : list, dict => default는 list이다.
     desc = cur.description
     for row in rows:
       print(f'{row[0]}, {row[1]}, {row[2]}, {row[3]}')
finally:
  con.close()  # 운영체제 차원에서 관리 된다, 자원이 한정되어 있음.

1, 김만덕, 80, 99
2, 고려인, 100, 99
3, 천공인, 100, 81
4, 천공이, 81, 81
5, 천공삼, 91, 100
6, 천공사, 100, 100
7, 종로구, 100, 81
8, 만세야, 99, 99
9, 만세야, 80, 80

In [13]:
print(desc)
# 열 이름만 선택하여 출력
print([i[0] for i in cur.description])

(('bunho', 3, None, 11, 11, 0, False), ('name', 253, None, 50, 50, 0, False), ('kor', 252, None, 765, 765, 0, True), ('mat', 252, None, 765, 765, 0, True), ('eng', 252, None, 765, 765, 0, True), ('total', 3, None, 11, 11, 0, True), ('average', 4, None, 12, 12, 31, True), ('grade', 254, None, 150, 150, 0, True), ('schoolcode', 254, None, 30, 30, 0, False))
['bunho', 'name', 'kor', 'mat', 'eng', 'total', 'average', 'grade', 'schoolcode']

In [15]:
# 문제
# 이름을 출력하고 데이터를 출력
import pymysql
con = pymysql.connect(host='34.64.86.80', port = 3306, user = 'root', passwd = 'acorn1234',
                      db = 'sungjuk', charset = 'utf8', autocommit=True)
try:
   with con.cursor() as cur:
     cur.execute('select * from student')
     rows = cur.fetchall()
     desc = cur.description
     print(f'{desc[0][0]:<4} {desc[1][0]:>10} {desc[2][0]:>13} {desc[3][0]:>11}')
     for row in rows:
       print(f'{row[0]:<4} {row[1]:>10} {row[2]:>10} {row[3]:>10}')
finally:
  con.close()

bunho       name           kor         mat
1           김만덕         80         99
2           고려인        100         99
3           천공인        100         81
4           천공이         81         81
5           천공삼         91        100
6           천공사        100        100
7           종로구        100         81
8           만세야         99         99
9           만세야         80         80

In [18]:
# 문제
# 번호가 5번 이하인 데이터만 query로 출력 (번호, 이름, 국어, 영어, 수학)
import pymysql
con = pymysql.connect(host='34.64.86.80', port = 3306, user = 'root', passwd = 'acorn1234',
                      db = 'sungjuk', charset = 'utf8', autocommit=True)
try:
   with con.cursor() as cur:
     cur.execute('select * from student where bunho <= 5')
     rows = cur.fetchall()
     desc = cur.description
     print(f'{desc[0][0]:<4} {desc[1][0]:>10} {desc[2][0]:>13} {desc[3][0]:>11} {desc[4][0]:>10}')
     for row in rows:
       print(f'{row[0]:<4} {row[1]:>10} {row[2]:>10} {row[3]:>10} {row[4]:>11}')
finally:
  con.close()

bunho       name           kor         mat        eng
1           김만덕         80         99          60
2           고려인        100         99          99
3           천공인        100         81         100
4           천공이         81         81          81
5           천공삼         91        100         100